  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a 
      href="/" <%- title === 'Home' ? 'class="active"' : '' %>
    >Home</a>
    <a 
			href="/myprofiles"
			<%- title === 'My Profile' ? 'class="active"' : '' %>
		>
			My Profile
		</a>
    <a 
      href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %>
    >All Workouts</a>
    <a 
      href="/workouts/new" <%- title === 'Add Workout' ? 'class="active"' : '' %>
    >Add Workout</a>
    <% if (user) { %>
      <a class="logoutbtn" href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
