  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <% if (user) { %>
    <a 
      href="/" <%- title === 'Home' ? 'class="active"' : '' %>
    >Home</a>
    <a 
			href="/myprofiles"
			<%- title === 'My Profile' ? 'class="active"' : '' %>
		>
			My Profile
		</a>
    <a 
      href="/workouts" <%- title === 'All Workouts' ? 'class="active"' : '' %>
    >All Workouts</a>
    <a 
      href="/workouts/new" <%- title === 'Add Workout' ? 'class="active"' : '' %>
    >Add Workout</a>
    <% if (user) { %>
      <a class="logout" href="/auth/logout">Log Out
      </a>
    <% } %>
    <% } %>
  </nav>
  
