table {
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 6px;
  background-color:#B6D0E2;
  color: black;
  margin: 15px 0 0 0;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

table thead th {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border-bottom: 2px solid black;
}

table td {
  padding: 5px;
  text-align: center;
  font-style: italic
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}
.goals {
  position: absolute;
  right: 35%;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 25px;
}

.goal-link {
  text-decoration: underline;
  text-decoration-color: #B6D0E2;
}

h2 {
  font-size: 1.8rem;
}

.createprof {
  font-size: 2.8rem;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #B6D0E2;
}
