<%- include('../partials/html-head')  %> 
<link rel="stylesheet" href="/stylesheets/myprofiles/new.css" />
<%- include('../partials/nav')  %>   

<main>
  <% if (user) { %>
  <h1><%= title %> </h1>
  <form action="/myprofiles" method="POST">
    <label>Gender:
      <select name="gender">
        <option value="" selected></option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </label>
    <label>Age:
      <input type="number" name="age">
    </label>
    <label>Height(in):
      <input type="input" name="height">
    </label>
    <button class="prof-btn2 "type="submit">Create Profile</button>
  <% } %>
</form>

</main>








<%- include('../partials/footer') %>