table {
  font-size: 2rem;
  border: 2px solid white;
  background-color: #B6D0E2;
  color: black;
  margin-top: 20px;
}

table thead th {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid black;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

table td {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  font-size: 1.8rem;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

#list a {
  padding: 3px;
  font-weight: bold;
  font-size: 1.6rem;
  color: black;
}

.btn {
  background-color: black;
  color: #B6D0E2;
  border: white;
  padding: 0px 5px;
  font-size: 1.1rem;
}

.btn:hover {
  background-color: black;
  color: #B6D0E2;
}
