form {
  display:grid;
  font-size: 2rem;
  justify-content: center;
}

form * {
  padding: 1px;
  border-radius: 6px;
  border-color: #b41515;
  font-size: 2rem;
}

form > button {
  grid-column: span 1;
  width: 16rem;
  margin-left: 5%;
  font-size: 2rem;
}

label {
  display: block;
}

input[type=number] {
  text-align: center;
  width: 50%;
  align-content: stretch;
}

input[type=date] {
  text-align: center;
  width: 50%;
  align-content: stretch;
}

select {
  text-align: center;
  width: 50%;
  align-content: stretch;
}
