table {
  font-size: 2rem;
  border: 2px solid white;
  background-color: #B6D0E2;
  color: black;
  margin-top: 50px;
}

table thead th {
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 5px;
  text-align: center;
}

label {
  text-align: right;
}

h1,h2, h3 {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
}

section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1.8rem;
  margin: 30px 0 0 0;
  font-size: 1.8rem;
  border: 2px solid white;
  border-radius: 12px;
  background-color: #B6D0E2;
  color: black;
  font-weight: bold;
  padding: 10px 50px 10px 50px;
}

.caff-form {
  display: grid;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.caff-btn {
  position: absolute;
  left: 35%;
  bottom: 42%;
  background-color: #B6D0E2;
  color: black;
  border: 2px solid white;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 1.4rem;
  width: 120px;
}

.edit-btn {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  font-weight: bolder;
  font-size: 1.6rem;
  width: 100%;
  font-weight: normal;
  margin-left: 50%;
}

input, select {
  text-align: center;
  color: black;
  width: 55%;
  align-content: stretch;
  border: 2px solid#B6D0E2;
  border-radius: 12px;
}

.x-caff-btn {
  background-color: black;
  color: #B6D0E2;
  border: white;
  padding: 0px 4px;
  font-size: 1.1rem;
}
